language: node_js
sudo: required
dist: trusty
node_js: stable
addons:
  firefox: latest
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
before_script:
  - npm install web-component-tester
  - npm install bower
  - export PATH=$PWD/node_modules/.bin:$PATH
  - bower install
script:
  - xvfb-run wct --skip-plugin sauce
