<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>github-fork-ribbon Demo</title>
    <script src="../../webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="../github-fork-ribbon.html">
  </head>
  <body unresolved>
    <github-fork-ribbon username="saeidzebardast" repository="github-fork-ribbon" position="right" label="Fork me" background-color="#090"></github-fork-ribbon>
    <github-fork-ribbon username="saeidzebardast" repository="github-fork-ribbon" position="left" label="Fork me on GitHub" background-color="#f80"></github-fork-ribbon>
    <github-fork-ribbon username="saeidzebardast" repository="github-fork-ribbon" position="left-bottom" label="GitHub repository" background-color="#333"></github-fork-ribbon>
  </body>
</html>
